PS4Macro_0_5_2/bindings.xml
PS4Macro_0_5_2/PS4RemotePlayInterceptor.dll
PS4Macro_0_5_2/Mono.Options.dll
PS4Macro_0_5_2/EasyLoad64.dll
PS4Macro_0_5_2/EasyLoad32.dll
PS4Macro_0_5_2/EasyHook64.dll
PS4Macro_0_5_2/EasyHook32.dll
PS4Macro_0_5_2/EasyHook.dll
PS4Macro_0_5_2/PS4Macro.pdb
PS4Macro_0_5_2/EasyHook.xml
PS4Macro_0_5_2/PS4MacroAPI.pdb
PS4Macro_0_5_2/PS4MacroAPI.dll
PS4Macro_0_5_2/EasyHook64Svc.exe
PS4Macro_0_5_2/psbutton.xml
PS4Macro_0_5_2/EasyHook32Svc.exe
PS4Macro_0_5_2/PS4MacroAPI.xml
*.exe
PS4Macro_0_5_2/settings-wip.xml
